.newLogoText {
    font-size: 20px;
}

.regular-text-color {
    color: #253858;
}

.rainbow-text-color {
    color: white;
}

.newLogoImage {
    width: 16px;
    height: 20px;
    margin-right: 2px;
}

[data-testid="product-home-container"] {
    text-decoration: none !important;
}

